.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #282c34;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color:cyan;
  
}
wrapper{
  
  background-color: black;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10%;
  box-shadow:rgba(0, 0, 0, 0.5) ;
}
.input-wrapper{
  display: flex;
  justify-content: space-between;
  width:200px;
  align-items: center;
}

.input-wrapper input{
     border-radius: 4%; 
    border: 0;
    background-color:white;
    width: 160px;
    padding: 6px;
    height: 20px;
    margin: 10px;
}
 button{
  width: 20px;
  height: 20px;
   border-radius: 50%;
   padding: 0;
}